<fieldset>
    <legend><i class="{{libUiExtenderDirectoryIcon directory}}"></i>
        {{libUiExtenderDirectoryName directory}}</legend>

    <div class="form-group">
        <label>{{localize
                "UiExtender.RegistrationConfig.Directory.ModuleIdLabel"
            }}</label>
        <div class="form-fields">
            <input type="text" value="{{directory.moduleId}}" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize
                "UiExtender.RegistrationConfig.Directory.IdLabel"
            }}</label>
        <div class="form-fields">
            <input type="text" value="{{directory.id}}" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize
                "UiExtender.RegistrationConfig.Directory.TooltipLabel"
            }}</label>
        <div class="form-fields">
            <input type="text" value="{{directory.tooltip}}" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize
                "UiExtender.RegistrationConfig.Directory.IconLabel"
            }}</label>
        <div class="form-fields">
            <input type="text" value="{{directory.icon}}" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize
                "UiExtender.RegistrationConfig.Directory.DocumentNameLabel"
            }}</label>
        <div class="form-fields">
            <input type="text" value="{{directory.documentName}}" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize
                "UiExtender.RegistrationConfig.Directory.OrderLabel"
            }}</label>
        <div class="form-fields">
            <input type="text" value="{{directory.order}}" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize
                "UiExtender.RegistrationConfig.Directory.ApplicationClassLabel"
            }}</label>
        <div class="form-fields">
            <input
                type="text"
                value="{{directory.applicationClass.name}}"
                disabled
            />
        </div>
    </div>
</fieldset>